*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
}


header{
    background-color: rgb(1, 83, 1) ;
    min-height:100%;
    
   
    
}
.logo img{
    height: 100px;
    border-radius: 100% 50%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    color:white;
    padding: 0 12px;
}

header nav a:hover{
    color: blue;
    background: orange;
    text-decoration: underline;
}
