*{
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
}


header{
    background-color: rgb(1, 83, 1) ;
    min-height:100%;
    
   
    
}
.logo img{
    height: 100px;
    border-radius: 100% 50%;
    padding: 5px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav a{
    text-decoration: none;
    color:white;
    padding: 0 12px;
}

header nav a:hover{
    color: blue;
    background: orange;
    text-decoration: underline;
}



/* section1 */

.section-1{
    background-color: rgb(1, 51, 1) ;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
 .left-side-sec1 .sub{
   display: flex;
   align-items: center;
   padding-bottom: 15px;
}

.left-side-sec1 h3{
    padding-bottom: 25px;
}
.left-side-sec1 h1{
    padding-bottom: 25px;
}
.left-side-sec1 h6{
    padding-top: 25px;
}
 .left-side-sec1{
   padding-left: 60px;

}

.right-side-sec1 img{
 padding-left: 20px;
}

/* section-2 */


.sec-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}